name: Deployment to Andasy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      ANDASY_ACCESS_TOKEN: ${{ secrets.ANDASY_ACCESS_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image to GHCR
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: "ghcr.io/${{ github.repository_owner }}/tartanvolt:latest"

      - name: Install Andasy CLI
        run: |
          curl -fsSL https://andasy.io/install.sh | bash
          echo "$HOME/.andasy/bin" >> $GITHUB_PATH

      - name: Andasy version
        run: andasy version



      - name: Deploy image to Andasy
        run: |
          IMAGE="ghcr.io/${{ github.repository_owner }}/tartanvolt:latest"
          echo "Deploying $IMAGE"
          andasy deploy -a tartanvolt -i $IMAGE
